<h1>Add task</h1>
<div>
    <div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Task</mat-label>
            <input matInput placeholder="task">
        </mat-form-field>
    </div>
    <div>
        <p>namen auswählen</p>
    </div>
    <div>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Status</mat-label>
            <mat-select>
                <mat-option value="Open">Open</mat-option>
                <mat-option value="In Progress">In Progress</mat-option>
                <mat-option value="Done">Done</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>erstellt am:</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Zu erledigen bis:</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>

    </div>
</div>
<div mat-dialog-actions>
    <button mat-button>Cancel</button>
    <button mat-button (click)="saveTask()" cdkFocusInitial>Save</button>
</div>




<!--
    Aufgabe (normal)
    Name (auswählen aus user liste)
    status (auswählen)
    Datum der erstellung
    Datum bis wann es erledigt sein soll
-->