<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>

<h1>Edit ...</h1>
<div>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="task.status" [disabled]="loading">
            <mat-option value="Open">Open</mat-option>
            <mat-option value="In Progress">In Progress</mat-option>
            <mat-option value="Done">Done</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Created on</mat-label>
        <input [disabled]="loading" [(ngModel)]="task.createdDate" matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Finished at</mat-label>
        <input [disabled]="loading" [(ngModel)]="task.finishDate" matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button [disabled]="loading" mat-button (click)="dialogRef.close();">Cancel</button>
    <button [disabled]="loading" mat-button (click)="saveTask()" cdkFocusInitial>Save</button>
</div>