.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
        bottom: 0;
    }
}

.detail-header {
    min-height: 150px;
    background-color: #555;
    color: white;
    display: flex;
}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: 0;
}

.details-date {
    display: flex;
    align-items: baseline;
    p {
        margin-right: 10px;
    }
}