<mat-card class="detail-header">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="userMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    <mat-menu #userMenu="matMenu">
        <button (click)="editTaskDetails()" mat-menu-item>Edit</button>
    </mat-menu>
    <div class="details ">
        <h2>
            {{task.task}}
        </h2>
        <h3>
            {{task.user}}
        </h3>
    </div>
</mat-card>

<mat-card class="mt-32">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="addressMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

    <mat-menu #addressMenu="matMenu">
        <button (click)="editTaskDetails2()" mat-menu-item>Edit</button>
    </mat-menu>
    <div class="details-date">
        <p>Status:</p>
        <h3 style="font-weight: bold;">{{task.status}}</h3>
    </div>
    <div class="details-date">
        <!-- noch stylen -->
        <p>Created:</p>
        <h3>{{task.createdDate | date }}</h3>
    </div>
    <div class="details-date">
        <p>Finish:</p>
        <h3>{{task.finishDate | date }}</h3>
    </div>
</mat-card>

<mat-card class="mt-32 min-height">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="notesMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

    <mat-menu #notesMenu="matMenu">
        <button (click)="editTaskNotes()" mat-menu-item>Edit</button>
    </mat-menu>
    <div class="note-div">
        <!-- if abfrage (wenn keine notiz da ist, dann "keine notiz vorhanden" anzeigen) -->
        {{task.note}}
    </div>
</mat-card>