<mat-card>

    <table class="task-table">

        <tr>
            <th>Task</th>
            <th>User</th>
            <th>Staus</th>
            <th>Date</th>
            <th>Date2</th>
        </tr>

        <tr *ngFor="let task of allTasks" [routerLink]="['/task/' + task.costumIdName]">
            <td>{{task.task}}</td>
            <td>{{task.user}}</td>
            <td>{{task.status}}</td>
            <td>{{task.createdDate}}</td>
            <td>{{task.finishDate}}</td>
        </tr>


    </table>

</mat-card>

<button (click)="openDialog()" class="add-btn" mat-fab color="primary" matTooltip="Add user">
    <mat-icon>add</mat-icon>
</button>